body
    {
        background:green;
        text-align:center;
        font-size:4px;
    }
    table
        {
            background-color:voilet;
        }
        .class1
        {
            background-color:yellow;
        }
        .class2
        {
            font-color:red;
            font-size:20px;
        }